{% extends 'base.html'%}
{% block content %}
<h1 class="h3 text-gray-800"><i class="fas fa-desktop"></i> Equipamentos</h1>

<!-- DataTales Example -->
<div class="card shadow">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Quantidade: {{count_equipment}}</h6>
    </div>
    {% if equipments %}
    <div class="card-body">
        <div class="m-1">
            <a href="{% url 'equipments:create_equipment' %}" type="button" class="btn btn-primary">
                <i class="fas fa-plus"></i> Cadastrar</a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Tipo</th>
                    <th>Disponível</th>
                    <th>Ação</th>
                </tr>
                </thead>
                {% for equipment in equipments%}
                <tr>
                    <td>{{ equipment.id }}</td>
                    <td>{{ equipment.name }}</td>
                    <td>{{ equipment.type }}</td>
                    <td>
                        {% if equipment.status %}
                        Sim
                        {% else %}
                        Não
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group" aria-label="">
                            <a href="{% url 'equipments:edit_equipment' equipment.pk %}" type="button"
                               class="btn btn-primary"><i class="fas fa-edit"></i>
                            </a>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#staticBackdrop{{equipment.id}}">
                                <i class="fas fa-trash"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop{{equipment.id}}" data-backdrop="static" data-keyboard="false"
                                 tabindex="-1" aria-labelledby="staticBackdropLabel{{equipment.id}}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel{{equipment.id}}">Alerta!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Você tem certeza que deseja deletar o item: {{ equipment.name }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Fechar
                                            </button>
                                            <a href="{% url 'equipments:delete_equipment' equipment.pk %}"
                                               type="button" class="btn btn-danger">Confirmar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% else %}
    <div class="mx-auto m-2">
        <a href="{% url 'equipments:create_equipment' %}" type="button" class="btn btn-primary">
            <i class="fas fa-plus"></i> Cadastrar</a>
    </div>
    {% endif %}
</div>
<!-- /.container-fluid -->
{% endblock content %}